<h4>Products</h4>
<ul>
  <li *ngFor="let product of products$ | async"
      (click)="setSelectedProduct(product)"
      [ngClass]="{'active': product.name === selectedProduct?.name}">
    <app-basket-product [product]="product" (selected)="setSelectedProduct($event)"></app-basket-product>
  </li>
</ul>
