header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: tomato;

  font-size: 42px;
  text-transform: uppercase;
}
